{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration du site</h1>
    <div class="d-flex justify-content-around mt-5">
        <a href="#" class="btn btn-danger"><i class="fa fa-user"></i> Modifier le rôle d'un utilisateur</a>
        <a href="#" class="btn btn-danger"><i class="fa fa-newspaper"></i> Modifier les textes du site</a>
        <a href="#" class="btn btn-danger"><i class="fa fa-users"></i> Modifier la liste du personnel</a>
    </div>
{% endblock %}
